:root {
    --border-radius: 10px;
    --color-light: hsla(0, 0%, 95%, 0.492);
    --color-norm: hsl(0, 81%, 78%);

}

table {
    --border-radius: 10px;
    --color-light: hsla(0, 0%, 95%, 0.492);
    --color-norm: hsl(0, 81%, 78%);
    margin: 0 auto;
    min-width: 200px;
    width: 100%;
    max-width: 900px;
    border: 3px solid;
    border-collapse: collapse;
    border-radius: 10px;
}


thead th:first-child {
    border-top-left-radius: var(--border-radius);

}

tfoot th:first-child {
    border-top-right-radius: var(--border-radius);
}

thead th:first-child {
    border-bottom-left-radius: var(--border-radius);

}

tfoot th:first-child {
    border-bottom-right-radius: var(--border-radius);
}



tbody tr:nth-child(odd) td:nth-child(even) {
    background-color: var(--color-norm);
}